body,
input,
button {
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  border-style: inset;
  padding: 0.5em;
  gap: 4em;
  flex-direction: row;
}

.delete {
  background-color: red;
}
